{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "current"
      },
      "exclude": [
        "transform-regenerator"
      ],
      "debug": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
          "exclude": [
            "transform-regenerator"
          ],
          "debug": true
        }]
      ],
      "plugins": [
        "transform-class-properties",
        ["transform-object-rest-spread", {
          "useBuiltIns": true
        }]
      ]
    }
  }
}
