# OS
.DS_Store

# Config files
.ackrc
.babelrc
.eslintignore
.eslintrc
.flowconfig
.gitignore
.npmignore
.travis.yml
gulpfile.babel.js
gulpfile.js
rollup.config.js

# Documents
contributors.txt

# Test files
test
__tests__
*.test.js
coverage
.nyc_output

# Secrets
.env
